.selectContainer {
    select {
        background: #f7f7f7;
        border: 1px solid #b1b1b1;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 1rem;
        margin: 1rem;
        width: 250px;
        border: none;
        box-shadow: 0px 0px 6px 0px rgba(193, 192, 192, 0.75);
        appearance: none;
        background-image: url('https://www.svgrepo.com/show/80156/down-arrow.svg');
        background-repeat: no-repeat;
        background-size: 14px 14px;
        background-position: calc(100% - 16px);
    
        :focus {
            outline: none;
        }
    }
}