.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.items {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;

    label {
        font-weight: bold;
        padding: 0 0.5rem 0 0;
    }
}