

.root {
    background-color: #CCCCCC;
}

.header {
    display: flex;
    color: #ffff;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: #282c34;
}

.button {
    height: 1.5rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  justify-content: center;
  padding: 20px;
}